<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gteam.planner.mappers.plan">

		<!-- 계획 DB 추가 -->
		<insert id="planAdd" parameterType="com.gteam.planner.domain.PlanVO">
			INSERT INTO plan(userId, planTitle, planTotalDay, startDate)
			 VALUES(#{userId}, #{planTitle}, #{planTotalDay}, #{startDate})
		</insert>
		
		<!-- 계획 번호 확인--> 
		<select id="planNoGet" resultType="int">
			SELECT Max(planNo)
			 FROM plan
		</select> 
		
		<!-- 일정 DB 추가 -->
		<insert id="planSchAdd" parameterType="com.gteam.planner.domain.PlanVO">
			INSERT INTO schedule(planNo, userId, descript, place, addr,  planDay, startTime)
			 VALUES(#{planNo}, #{userId}, #{descript}, #{place}, #{addr}, #{planDay}, #{startTime})
		</insert>
		
		<!-- 계획 목록 -->
		<select id="planList" parameterType="hashMap" resultType="com.gteam.planner.domain.PlanVO">
			SELECT planNo, userId, planTitle, startDate, planTotalDay, planHit 
			 FROM plan
			<if test='searchType.equals("planTitle")'>
				WHERE planTitle LIKE concat('%', #{keyword}, '%')
			</if>
			 
			<if test='searchType.equals("userId")'>
				WHERE userId LIKE concat('%', #{keyword}, '%')
			</if>
			  ORDER BY planNo DESC
			   limit #{displayPost}, #{postNum}
		</select>
		
		<!-- 유저별 계획 목록 -->
		<select id="planListForUser" parameterType="String" resultType="com.gteam.planner.domain.PlanVO">
			SELECT planNo, userId, planTitle, startDate, planTotalDay, planHit 
			 FROM plan 
			  WHERE userId = #{userId}
		</select>
		
		<!-- 계획 상세 조회 -->
		<select id="planView" parameterType="hashMap" resultType="com.gteam.planner.domain.PlanVO">
			SELECT planNo, userId, planTitle, startDate, planTotalDay, planHit 
			 FROM plan 
			  WHERE userId = #{userId} AND planNo = #{planNo}
		</select>
		
		<!-- 일정 조회 -->
		<select id="planSchList" parameterType="int" resultType="com.gteam.planner.domain.ScheduleVO">
			SELECT planNo, userId, descript, addr, startTime, planDay
			 FROM schedule
			  WHERE planNo = #{planNo}
		</select>
		
		<!-- 계획 수정 -->
		<update id="planModify" parameterType="com.gteam.planner.domain.PlanVO">
			UPDATE plan 
			 SET	planTitle = #{planTitle}, startDate = #{startDate}, planTotalDay = #{planTotalDay} 
			  WHERE userId = #{userId} AND planNo = #{planNo}
		</update>
		
		<!-- 계획 삭제 -->
		<delete id="planDelete" parameterType="com.gteam.planner.domain.PlanVO">
			DELETE 
			 FROM plan 
			WHERE planNo = #{planNo} AND userId = #{userId};
		</delete>


</mapper>