<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gteam.planner.mappers.plan">

		<!-- 계획 목록 -->
		<select id="list" resultType="com.gteam.planner.domain.PlanVO">
			SELECT planNo, userId, planTitle, startDate, planTotalDay, planHit 
			FROM plan
		</select>
		
		<!-- 유저별 계획 목록 -->
		<select id="listForUser" parameterType="String" resultType="com.gteam.planner.domain.PlanVO">
			SELECT planNo, userId, planTitle, startDate, planTotalDay, planHit 
			FROM plan 
			WHERE userId = #{userId}
		</select>

		<!-- 계획 삽입 -->
		<insert id="write" parameterType="com.gteam.planner.domain.PlanVO">
		<!-- 	<selectKey keyProperty="rowNo" resultType="int" order="BEFORE">
			SELECT COUNT(*) FROM schedule WHERE userId = #{userId} AND planNo = #{planNo} 서브쿼리세팅
			</selectKey> -->
			INSERT into schedule(planNo, userId, addr, descript, planDay, rowNo) 
			VALUES(${planNo}, #{userId}, #{addr}, #{descript}, ${planDay}, ${rowNo})
		</insert>

</mapper>